
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-color: var(--ligh-bg);
    padding: 24px;
}

.card {
    max-width: 521px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

span {
    width: 100%;
    text-align: center;
    font-size: 36px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 24px;
}

button {
    background-color: #f26126;
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #d3541e;
}
