.example-spacer {
    flex: 1 1 auto;
  }

  

mat-toolbar {
    height: 100px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.header-content {
    width: 100%;
    padding-inline: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    margin-right: 10px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover, .active {
    color: var(--orange) !important;
    border-bottom: 1px solid var(--orange);
}

.user {
    font-weight: 400;
    font-size: 16px;
}

mat-drawer {
    
    width: 260px;
    padding: 20px;
    background-color: #fff;
}

.example-container {
    width: 100%;
    height: 100%;
  }


main {
    width: 100%;
    padding: 20px 120px;
    margin: auto;
    background-color: var(--ligh-bg);
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-info span {
    font-size: 18px;
}

.clientes-por-pagina {
    display: flex;
    gap: 9px;
}

.clientes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.cliente-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 285px;
    height: 138px;
    background: white;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cliente-card h3 {
    font-size: 16px;
}

.cliente-card p {
    font-size: 14px;
    color: #555;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.icons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.icons button:hover {
    color: #f26126;
}


.paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.paginacao button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
}

.paginacao .ativo {
    background: #f26126;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}


.btn-criar {
    display: block;
    width: 100%;
    text-align: center;
    background: none;
    border: 1px solid #f26126;
    color: #f26126;
    padding: 10px;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
}

.btn-criar:hover {
    background: #f26126;
    color: white;
}


@media (max-width: 768px) {
    nav {
        display: none;
    }

    .clientes-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .header-info {
        flex-direction: column;
        align-items: flex-start;
    }
}