<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggle()">
    <img src="menu.svg" alt="Logo" />
  </button>
  <div class="header-content">
    <div class="logo">
      <img src="logo.svg" alt="Teddy Logo" />
    </div>
    <nav>
      <a href="#" class="active">Clientes</a>
      <a href="#">Clientes selecionados</a>
      <a href="#">Sair</a>
    </nav>
    <div class="user">
      Olá, <strong>{{ username }}!</strong>
    </div>
  </div>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>MENU LATERAL</p>
  </mat-drawer>

  <main>
    <div class="header-info">
      <span><strong>16</strong> encontrados:</span>
      <div class="clientes-por-pagina">
        <label for="clientes-por-pagina">Clientes por página:</label>
        <select id="clientes-por-pagina">
          <option>16</option>
          <option>32</option>
          <option>48</option>
        </select>
      </div>
    </div>

    <section class="clientes-container" *ngIf="clientes$ | async as clientes">
      <article
        class="cliente-card"
        *ngFor="let cliente of clientes"
        [id]="cliente.id"
      >
        <h3>
          <strong>{{ cliente.name }}</strong>
        </h3>
        <p>Salário: R${{ cliente.salary }}</p>
        <p>Empresa: R${{ cliente.companyValuation }}</p>
        <div class="icons">
          <a><img src="plus.svg" alt="" /></a>
          <a><img src="pencil.svg" alt="Editar" (click)="editUser(cliente)"/></a>
          <a
            ><img src="trash.svg" alt="Excluir" (click)="deleteUser(cliente)"
          /></a>
        </div>
      </article>
    </section>

    <button class="btn-criar" (click)="newUser()">Criar cliente</button>

    <div class="paginacao">
      <button>1</button>
      <span>...</span>
      <button>3</button>
      <button class="ativo">4</button>
      <button>5</button>
      <span>...</span>
      <button>12</button>
    </div>
  </main>
</mat-drawer-container>
