<main>
  <div class="header-info" *ngIf="clientes$ | async as clientes">
    <span><strong>{{clientes.length}}</strong> encontrados:</span>
    <div class="clientes-por-pagina">
      <label for="clientes-por-pagina">Clientes por página:</label>
      <select id="clientes-por-pagina">
        <option>16</option>
        <option>32</option>
        <option>48</option>
      </select>
    </div>
  </div>

  <section class="clientes-container" *ngIf="clientes$ | async as customers">
    <app-customer-card *ngFor="let customer of customers" [customer]="customer" [selected]="false"></app-customer-card>
  </section>

  <button class="btn-criar" (click)="newUser()">Criar cliente</button>

  <!-- <div class="paginacao">
    <button>1</button>
    <span>...</span>
    <button>3</button>
    <button class="ativo">4</button>
    <button>5</button>
    <span>...</span>
    <button>12</button>
  </div> -->
</main>