* {
    font-family: 'Inter', sans-serif !important;
    font-size: 16px !important;
    color: black !important;
}

mat-dialog-container {
    border-radius: 4px !important;
}

mat-dialog-content {
    font-weight: 400 !important;
    padding-top: 0px !important;
}

mat-dialog-actions {
    display: flex;
    width: 100%;
}

.header {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

button#submit {
    background-color: var(--orange);
    color: #fff !important;
    border-radius: 4px !important;
    width: 100%;
    font-weight: 700;
}

h6 {
    font-weight: 700 !important;
}